body {
  /*background-color: #9ce4c7;*/
  background-image: url(../img/group.jpg);
  background-repeat: no-repeat;
  color: white;
  height: 100%;
}
p {
  color: grey;
  opacity: 0.5;
  margin-left: 20px;
}
.instruction-text {

  margin-top: 25px;
}
.slider {
  margin-left: 25px;
}
.eye {
  background-color: black;
  position: absolute;
}
.pupil {
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
}
