body {
  background-color: rgb(55, 176, 19);:
  color: white;
}

.face {
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: yellow;
  border-radius: 500px;
  width: 500px;
  height: 500px;
}

.eye {
  background-color: black;
  margin-top: 20px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

#leftEye {
  margin-right: 20px;
}

#rightEye {
  margin-left: 20px;
}

.pupil {
  background-color: white;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  position: relative;
  left: 40px;
}

#leftPupil {
}

#rightPupil {
}

.mouth {
  background-color: black;
  width: 350px;
  height: 150px;
  border-radius: 100px;
}
