body {
  /*background-color: #9ce4c7;*/
  background-image: url(../img/group.jpg);
  background-repeat: no-repeat;
  color: white;
  height: 100%;
}

.click-area {

}

.eye {
  background-color: black;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  position: absolute;
}

.pupil {
  background-color: white;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  width: 5px;
  height: 5px;
  position: relative;
  left: 10px;
}
